@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>1. Introduction</h2>
<p>This privacy policy describes how StemConnect collects, uses, and protects personal information provided by users of the web application. We are committed to protecting and safeguarding the privacy of our users. By using Stem Connect, you consent to the collection and use of information as described in this privacy policy.</p>
<h2>2. Collected Information</h2>
<h3>2.1 Personally Identifiable Information</h3>
    <p>When you use StemConnect, we may collect certain personally identifiable information, including but not limited to:
       
        <ul>
            <li>Name</li>
            <li>E-mail address</li>
            <li>Username</li>
            <li>Password(encrypted)</li>
            <li>Answers to questions asked</li>
        </ul>
        This information is collected when you register on StemConnect, answer questions, or otherwise provide information within the application.
    </p>
<h3>2.2 Non-Personally Identifiable Information</h3>
    <p>Additionally, we may automatically collect non-personally identifiable information about your computer hardware and software, including:
       
        <ul>
            <li>Browser type</li>
            <li>Application session time</li>
            <li>Usage patterns within the application</li>
        </ul>
      
    </p>
<h2>3. Use of Collected Information</h2>
    <p>We use the collected information for the following purposes:
        
        <ul>
            <li>Personalizing your user experience</li>
            <li>Improving our web application</li>
        </ul>
    </p>
<h2>4. Protection of Collected Information</h2>
    <p>We take appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. Your account information is protected by password encryption and other security measures.</p>
<h2>5. Sharing information with Third Parties</h2>
    <p>We do not sell, trade, or rent personally identifiable information to third parties.</p>
<h2>6. Cookies</h2>
    <p>StemConnect uses "cookies" to personalize your online experience and improve content delivery. You can refuse the use of cookies by adjusting your web browser settings. However, please note that disabling cookies may affect the functionality of certain parts of the web application.</p>
<h2>7. Chacges to This Privacy Policy</h2>
    <p>The contents of this privacy policy may be updated or changed without prior notice. It is advisable to regularly review this statement for any updates or changes.</p>
<h2>8. Contact Information</h2>
    <p>If you have any questions about this privacy policy or the practices of StemConnect, you can contact us at [contact information].</p>

