@font-face {
    font-family: customFont;
    src: url('customFont/runescape.ttf') format('truetype');
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 20px;
}

body {
    font-family: customFont, sans-serif;
    margin-bottom: 60px;
    padding-top: 70px;
}

.container{
    padding-top: 50px;
}

.site-header{
    background-color: grey;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.site-header a {
    font-weight: bold;
}

.nav-item-login a{
    font-weight: bold;
}

.form-inline .nav-link{
    font-weight: bold;
}

.dropdown-menu .dropdown-item{
    font-weight: bold;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

$button-bg-color: green;


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: $button-bg-color;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#dropdownMenuButton{
    background-color: #0022ff;
}
.viewQuestionButton{
    background-color: #0022ff;
}
#item2Button{
    background-color: #0022ff;
}

.footer {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px;
    background: black;
}

.footer .container {
    padding: 12px;
}

.footer-content{
    color: white;
}


.card-img-top {
    height: 300px;
    object-fit: cover;
}

.hidden {
    display: none;
}


